node_modules/
.expo/
.vscode
dist/
npm-debug.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
*.orig.*
web-build/
.env
# macOS
.DS_Store
google-services.json
argon-tuner-438615-g5-3d6146de43ec.json
disaster-risk-reduction-439218-d330362e1d68.json
./disaster-risk-reduction-439218-d330362e1d68.json
./google-services.json
.\google-services.json
mobile\disaster-risk-reduction-439218-d330362e1d68.json
mobile\google-services.json
.\disaster-risk-reduction-439218-d330362e1d68.json
.\google-services.json